<div id="message-form">
  <%= form_with model: message, 
                url: chat_messages_path(chat.id), 
                data: { 
                  controller: 'chat', 
                  subscriber_id: current_user.id,
                  action: "turbo:submit-start->chat#clearInput"
                }, 
                local: false do |f| %>
    <div class="field has-addons form-controls">
      <%= f.hidden_field :chat_id, value: chat.id, data: {chat_target: 'chatId'} %>
      <%= f.text_field :content, id: 'message-input', data: {chat_target: 'messageInput'}, class: 'input message-input' %>
      <%= button_tag type: 'submit', class: 'button is-primary send-message' do %>
        <i class="bi bi-send"></i>
      <% end %>
    </div>
  <% end %>
</div>

