<div class="notifications-container">

  <h3 class="view-heading">Notifications</h3>

  <div class="notifications-list">

    <% @notifications.each do |notification| %>
      <%= render "notification", notification: notification %>
    <% end %>
    
  </div>

</div>

