<span>
  <%= button_to follow_path(request.id),
                method: :patch do %>
    Accept
  <% end %>
</span>

<span>
  <%= button_to follow_path(request.id),
                method: :delete do %>
    Decline
  <% end %>
</span>