<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Back to posts", posts_path %>
  <% if @post.author == current_user %>
    <%= button_to "Delete this post", @post, method: :delete %>
  <% end %>
</div>
