.posts-container {
  width: 650px;

  .new-post {
    .form-footer {
      label {

        i {
          font-size: x-large;
        }
        
      }
      
    }
  }
}

.post-show {
  width: 650px;
}