.posts-container {
  width: 650px;

  .new-post {
    .form-footer {
      .attach-button {
        border: none;
        background-color: inherit;
        height: fit-content;
        width: fit-content;
        color: white;

        i {
          font-size: x-large;
        }
        
      }
      
    }
  }
}

.post-show {
  width: 650px;
}