// Sassy

@import "bootstrap";

form.button_to .engagement-button-background {
  background-color: unset;
  border: none;
}



// .post-preview:visited {
//   color: unset;
// }

.post-preview-link {
  text-decoration: none;
  color: unset;
}

.comments div {
  border: 1px black solid;
}

.engagement-bar {
  display: flex;
}

.comment-modal-container {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 0.5rem;
  max-width: 500px;
  width: 100%;
}

.cancel-button {
    background-color: #1530ff;
    font-size: 12px;
    color: white;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    text-decoration: none;
}

.cancel-button:hover {
    background-color: #2640fe;
}

.username {
  text-decoration: none;
}

.username:hover {
  text-decoration: underline;
}

.profile-page-username {

}

.post-partial-username {

}

.follow-button {
  min-width: 80px;
}

button {
  transition: all 0.2s ease-in-out;
}

.user-item-request {
  display: flex;
  justify-content: space-evenly;
}

.request-action {
  display: inherit;
  flex: 3;
  gap: 10em;
}

.request-username {
  flex: 2;
}

