<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%= stylesheet_link_tag "mailers" %>
  </head>

  <body style="background-color: white; display: flex; justify-content: center;">
    <%= yield %>
  </body>
</html>
